/* CSS Style Sheet for Crazy Bob's Pumpkin Patch */

/* Global Style*/
body{
    background-color: saddlebrown;
    margin:0;
    padding:0;
}

div#container{
    background-color:orange;
    width:1024px;
    /* Centers the Container */ 
    margin:auto;
}

header{
    background-color:beige;
    width:100%;
    height:150px;
    margin:0;
}

header h1{
    text-align:center;
    padding-top:50px;
    color:darkgreen;
    text-shadow:1px 1px 1px orange;
    margin:0;
}

nav{
    width:100%;
    background-color:burlywood;
    clear:both;
    margin:0;
    
}

nav ul{
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;
}

nav ul li{
    float:left;
    
}

nav ul li a{
    display:block;
    color:white;
    text-align:center;
    text-decoration:none;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color:darkred;
}

.active{
    background-color:darkgoldenrod;
}

footer{
    width:100%;
    background-color:beige;
    color:saddlebrown;
    text-align:center;
    padding:20px 0;
}

.keepOpen{
    clear:both;
}

/* index.html */
img#home_img{
    width:400px;
    display:block;
    margin:15px;
    border:10px inset green;
    float:left;
}

h2#h2-home{
    float:left
}

p#p-home{
    float:left;
    width:56%;
    
}

/* about.html */
img#about_img{
    width:200px;
    display:block;
    margin:15px;
    border:10px inset green;
    float:left;
}

h2#h2-about{
    float:none;
}

p#p-about{
    float:left;
    width:56%;
    
}

