/* CSS Style Sheet for Crazy Bob's Pumpkin Patch */

/* Global Style*/
body{
    background-color: saddlebrown;
    margin:0;
    padding:0;
}

div#container{
    background-color:orange;
    width:1024px;
    /* Centers the Container */ 
    margin:auto;
}

header{
    background-image:url(../images/row_pumpkins.jpg);
    background-position: center;
    background-size:1100px;
    background-color:beige;
    width:100%;
    height:150px;
    margin:0;
}

header h1{
    text-align:center;
    padding-top:50px;
    color:darkgreen;
    text-shadow:3px 3px 3px black;
    margin:0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:35px;
    
}

nav{
    width:100%;
    background-color:burlywood;
    clear:both;
    margin:0;
    font-family:cursive;
    font-size;14px;
    box-shadow:2px 2px 2px black;
    
    
}

nav ul{
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;
    font-family:sans-serif;
    font-size:14px;
}

nav ul li{
    float:left;
    
}

nav ul li a{
    display:block;
    color:white;
    text-align:center;
    text-decoration:none;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color:darkred;
}

.active{
    background-color:darkgoldenrod;
}

footer{
    width:100%;
    background-color:beige;
    color:saddlebrown;
    text-align:center;
    padding:20px 0;
}

.keepOpen{
    clear:both;
}

/* index.html */
img#home_img{
    width:400px;
    display:block;
    margin:15px;
    border:10px inset green;
    float:left;
}

h2#h2-home{
    float:left
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Gloria Hallelujah', cursive;
}

p#p-home{
    float:left;
    width:56%;
    margin-top:10px;
    font-family: 'Gloria Hallelujah', cursive;
    
}

/* about.html */
img#about_img{
    width:200px;
    display:block;
    margin:15px;
    border:5px outset green;
    float:left;
}

h2#h2-about{
    float:none;
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Gloria Hallelujah', cursive;
    
}

p#p-about{
    float:left;
    width:56%;
    margin-top:10px;
    font-family: 'Gloria Hallelujah', cursive;
    
}

/* produce.html */

h2#h2-products{
    float:left;
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Gloria Hallelujah', cursive;
}

div#gallery{
    width:100%;
    border:3px dotted brown;
}


figure{
    width:250px;
    float:left;
    background-color:rgba(255, 255, 204, 0.58);
    box-shadow:2px 2px 15px black;
    background: -moz-linear-gradient(#c11d1d, #e0a114); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000,#c10303,#ff9e00); /* Standard syntax */
}

figure img{
    display:block;
    width:200px;
    height:175px;
    margin:15px auto;
    border:1px solid #c4891d;
}

figcaption{
    text-align:center;
    color:darkgreen;
    text-shadow:1px 1px 1px black;
    padding:10px 0;
    font-family:cursive;
    font-size:14px;
    
}

