/* CSS Style Sheet for Crazy Bob's Pumpkin Patch */

/* Global Style*/
body{
    background-color: floralwhite;
    margin:0;
    padding:0;
    font-family: 'Gloria Hallelujah',cursive;ß
}

div#container{
    background-color:darkblue;
    width:1235px;
    /* Centers the Container */ 
    margin:auto;
}

header{
    background-image:url(../images/cool.jpg);
    background-position: center;
    background-size:1200px;
    background-color:beige;
    width:100%;
    height:150px;
    margin:0;
}

header h1{
    text-align:center;
    padding-top:50px;
    color:white;
    text-shadow:4px 4px 4px black;
    margin:0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:35px;
    
}

nav{
    width:100%;
    background-color:darkred;
    clear:both;
    margin:0;
    font-family:cursive;
    font-size;14px;
    box-shadow:4px 4px 4px black;
    
    
}

nav ul{
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;
    font-family:sans-serif;
    font-size:14px;
}

nav ul li{
    float:left;
    }


nav ul li a{
    display:block;
    color:white;
    text-align:center;
    text-decoration:none;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color:darkblue;
}


footer{
    width:100%;
    background-color:darkred;
    color:white;
    text-align:center;
    padding:10px 0;
    box-shadow:4px 4px 4px black;
}

.keepOpen{
    clear:both;
}

/* skills.html */
img#skills_img{
    width:400px;
    display:block;
    margin:15px;
    border:10px inset darkred;
    float:left;
}

h2#h2-skills{
    width:100%;
    margin-left:10px;
    clear:both;
    float:left;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    text-shadow:4px 4px 4px black;
}

p#p-skills{
    float:left;
    width:56%;
    margin-top:10px;
    font-family: 'Gloria Hallelujah', cursive;
  
    
    
}

/* about.html */
img#about_img{
    width:200px;
    display:block;
    margin:15px;
    border:10px inset darkred;
    float:left;
}

h2#h2-about{
    float:none;
    color:white;
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow:4px 4px 4px black;
    
    
}

p#p-about{
    float:left;
    width:56%;
    color:white;
    margin-top:10px;
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow:4px 4px 4px black;
   
    
}

/* portfolio.html */

h2#h2-portfolio{
    width:100%;
    margin-left:10px;
    clear:both;
    float:left;
    font-family: 'Gloria Hallelujah', cursive;
    
}

figure{
    width:250px;
    float:left;
    background-color:rgba(255, 255, 204, 0.58);
    box-shadow:2px 2px 15px black;
    background: -moz-linear-gradient(#ff0000, #bbcef8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#900000,#062898,#d9d9d9); /* Standard syntax */
}

figure img{
    display:block;
    width:200px;
    height:175px;
    margin:15px auto;
    border:1px solid #c4891d;
}

figcaption{
    text-align:center;
    color:darkred;
    text-shadow:1px 0px 0px black;
    padding:10px 0;
    font-family:'Gloria Hallelujah', cursive;
    font-size:14px;
    
}

/* contact.html */

form{
    float:left;
}

h2#h2-contact{
    width:100%;
    margin-left:10px;
    clear:both;
    float:left;
    color:white;
    text-shadow:4px 4px 4px black;
}

form#form-contact{
    margin-left:10px;
    color:white;
    text-shadow:4px 4px 4px black;
}

form input{
    margin-bottom:10px;
}

button#button-contact{
    width:80px;
    height:40px;
    font-weight:600;
    margin-bottom:15px;
    box-shadow:1px 1px 2px #000;
}





