/* Style for Jace's blog website */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li{
    margin: 0;
    padding: 0;
}

/* Universal Style */

body{
    background-color: darkgray;
}

div#container{
    display: flex;
    flex-direction: column;
    margin:auto;
    width:100%;
    background-color:#836503;
}

header#blog-head{
    display:flex;
    justify-content:center;
    width:100%;
    height:300px;
    font-family:Harry p;
    text-align:center;
    background-color:#5d5959;
    font-size:1.4em;
    color:#d4d409;
}
header h1{
    
}

/* Blog Post */
div#blog-post{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    margin:15px 0;
    padding:10px;
    background-color:cornflowerblue;
    box-shadow: 3px 3px 3px #000000;
}
img#post-img{
    align-self:flex-start;
    display: block;
    margin:5px;
    width:150px;
    height:150px;
    background-color: aliceblue;
}
div#post-body{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:0 5px;
    font-family: 'Dancing Script', cursive;
}
h3#post-title{
    align-self:auto;
    font-family: 'Dancing Script', cursive;
    font-size:2em
}
h5#post-stamp{
    color:#535353;
}

p#post-text{
    font-size:1.5em;
    color:#535353;
}

video#post-vid{
    width:auto;
    height:auto;
}
